<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="InvestorName" value="蒋继化测试"/>
    <add key="BrokerID" value="9999"/>
    <add key="InvestorID" value="013344"/>
    <add key="Password" value="123456"/>
    <add key="MarketDataAddress" value="180.168.146.187:10011"/>
    <add key="TradeAddress" value="180.168.146.187:10001"/>
    <add key="InstrumentID" value="TF1712"/>
  </appSettings>
</configuration>